<div class="text-center">
  <h1>藥品清單</h1>
</div>

<div class="col-md-12">
  <div class="chemical">
    <%= link_to("新增", new_chemical_path, class:"btn btn-primary pull-right") %>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <td>學名</td>
      <td>化學式</td>
      <td>別名</td>
      <td>包裝</td>
      <td>廠牌</td>
      <td>代理商</td>
      <td>存放處</td>
      <td>剩餘量</td>
      <td>備註</td>
    </tr>
  </thead>
  <tbody>
    <% @chemicals.each do |chemical| %>
    <tr>
      <td><%= chemical.name %></td>
      <td><%= chemical.formula %></td>
      <td><%= chemical.nickname %></td>
      <td><%= chemical.package %></td>
      <td><%= chemical.company %></td>
      <td><%= chemical.agent %></td>
      <td><%= chemical.storage_place %></td>
      <td><%= chemical.remain %></td>
      <td><%= chemical.remark %></td>
      <td>
        <%= link_to("編輯", edit_chemical_path(chemical), class:"btn btn-sm btn-default") %>
        <%= link_to("刪除", chemical_path(chemical), class:"btn btn-sm btn-default", method: :delete, data: { confirm: "Are you sure?"}) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
