<div class="col-md-4 col-md-offset-4">
  <h2>編輯Meeting時程</h2>
  <hr>
  <%= form_for @meeting do |f| %>
  日期
  <%= f.text_field :date %>
  <br>
  講者
  <%= f.text_field :speaker %>
  <br>
  備註
  <%= f.text_area :remark %>
  <br>
  <%= f.submit "送出", disable_with: "提交中..." %>
  <% end %>
</div>
