<%= simple_form_for @optical_element do |f| %>

  <div class="form-group">
    <%= f.association :category, label: "類別", prompt: "請選擇光學元件的類別", input_html:{ class: "form-control" } %>
    <%= f.input :item_number, label: "物件型號", input_html:{ class: "form-control"} %>
    <%= f.input :bandwidth, label: "適用光區", input_html:{ class: "form-control"} %>
    <%= f.input :remark, label: "備註", input_html:{ class: "form-control"} %>
  </div>
    <b>星號 * 表示必填</b>
    <br></br>
  <%= f.submit "送出", class:"btn btn-primary", data: {disable_with: "送出中..."} %>

<% end %>
